# ===========================================
# LOGGER runtime env config e.g.: info, debug, warn, error
# ===========================================
LOG_LEVEL=debug


SERVER_NAME=auth
# ===========================================
# Server env config
# ===========================================
REST_HOST=localhost
REST_PORT=18802

# ===========================================
# GRPC env config
# ===========================================
GRPC_HOST=localhost
GRPC_PORT=18702

# ===========================================
# Database env config
# ===========================================
DB_TYPE=mariadb
DB_HOST=localhost
DB_PORT=3306
DB_LOGIN_ID=root
DB_PASSWORD=root
DB_SCHEMA=axis_user


# ===========================================
# Redis env config
# ===========================================

# ===========================================
# Mongo env config
# ===========================================

# ===========================================
# CEX config
# ===========================================
