# ===========================================
# LOGGER runtime env config e.g.: info, debug, warn, error
# ===========================================
LOG_LEVEL=debug


SERVER_NAME=notification
# ===========================================
# Server env config
# ===========================================
REST_ADDR=localhost:18805

# ===========================================
# GRPC env config
# ===========================================
GRPC_ADDR=localhost:18705

# ===========================================
# Consul env config
# ===========================================
# Consul ADDRESS
CONSUL_HOST=localhost
CONSUL_PORT=8500
# Consul ACL Token
CONSUL_ACL_TOKEN=ce2a286e-c698-2473-b036-7236f64c0112
# Consul connection timeout Token (s)
CONSUL_TIMEOUT=5

# ===========================================
# Database env config
# ===========================================
DB_TYPE=mariadb
DB_HOST=localhost
DB_PORT=3306
DB_LOGIN_ID=root
DB_PASSWORD=root
DB_SCHEMA=axis_notification

# ===========================================
# Redis env config
# ===========================================
REDIS_HEALTH_CHECK_INTERVAL=30
# Read Redis cluster, address e.g.: localhost:6379,localhost:6378,localhost:6377
READ_REDIS_ADDRESS=localhost:6379
READ_REDIS_PORT=6379
READ_REDIS_DB=0
READ_REDIS_DISABLE_CACHE=false
READ_REDIS_PASSWORD=my999pikaqiu@163.com

# Write Redis cluster, address e.g.: localhost:6379,localhost:6378,localhost:6377
WRITE_REDIS_ADDRESS=localhost:6379
WRITE_REDIS_PORT=6379
WRITE_REDIS_DB=0
WRITE_REDIS_DISABLE_CACHE=false
WRITE_REDIS_PASSWORD=my999pikaqiu@163.com

# ===========================================
# Mongo env config
# ===========================================

# ===========================================
# CEX config
# ===========================================
